# Ignore Node.js related files and directories
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Ignore environment-specific files
.env
.env.*

# Ignore editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore build output
dist/
build/
out/